/* Efficency */
.main{
  padding: 10px;
  margin-left: 15px;
}
.efficiencyTable thead{
  color: white;
}
.getReport{
  background: #b00574;
  border-color:#b00574; 
}
.getReport:hover{
  background: #e33da9;
  border-color: #e33da9;
}